<div class="container" style="padding-top: 60px">
    <div class="row">
      <nz-card nzHoverable class="col-md-12" style="min-height: 150px;">
        <nz-card-meta nzTitle="MSDCapstone" nzDescription="A webapp built for the sole purpose of learning">
        </nz-card-meta>
      </nz-card>
    </div>
    <div class="row" *ngIf="cardInfo">
      <div *ngFor="let tab of cardInfo" class="col-md-6" style="margin-bottom: 10px">
        <nz-card nzHoverable style="min-height: 50px" [nzActions]="[actionSetting]">
          <nz-card-meta [nzTitle]="tab.title" [nzDescription]="tab.bodyHTML">
          </nz-card-meta>
        </nz-card>
        <ng-template #actionSetting>
          <span [routerLink]="tab.actions[0].buttonLink" style="width: 100%; height: 100%;">
            Register
          </span>
        </ng-template>
      </div>
    </div>
  </div>
  
  