<!-- <app-registerpage></app-registerpage> -->

<!-- <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->

  
  <div style="margin-bottom: 20px;">
    <button *ngFor="let example of examples"
    (click)="loadExample(example)"
    class="btn" [class.btn-primary]="type === example">
      {{ example }}
    </button>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="fields">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
    <button type="submit" class="btn btn-primary submit-button" [disabled]="!form.valid">Submit</button>
  </form>